<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method="POST" action="/team">
  <lable> Team Name: <input type="text" name="team_name"/></lable><br>
  <labl> Coach: <input type="text" name="coach_name"/></labl><br>
  <lable> Point Guard: <input type="text" name="point_guard"/></lable><br>
  <lable> Shooting Guard: <input type="text" name="shooting_guard"/></lable><br>
  <lable> Small Forward: <input type="text" name="small_forward"/></lable><br>
  <lable> Power Forward: <input type="text" name="power_forward"/></lable><br>
  <lable> Center: <input type="text" name="center"/></lable><br>
  <lable> Submit: <input type="submit" id="submit"/><lable><br>
  </form>
 </head>
 <body>
 </body>
</html>


